In [1]:
import os
import pandas as pd
import pymysql
from functools import reduce
import time
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta
#import datetime as dt
import locale
locale.setlocale(locale.LC_ALL, 'es_ES.utf8')

'es_ES.utf8'

In [187]:
main_path = os.path.abspath('')
main_path

'C:\\Users\\Alejandro\\Documents\\Notebook Scripts\\CMg'

In [188]:
fecha = date.today()
fecha

datetime.date(2022, 6, 30)

In [189]:
# mes actual
año = str(fecha. year) 
mes = str(fecha. month) 
año_mes = año + '-' + mes
año_mes

'2022-6'

In [190]:
# mes previo
mes_previo = (fecha. month) - 1

# if mes enero / cambia el año al previo y mes de 0 a 12
año_previo = (fecha. year)
if mes_previo == 0:
    mes_previo = 12
    año_previo = (fecha. year)-1
año_prev = str(año_previo)
mes_prev = str(mes_previo)
año_mes_prev = año_prev + '-' + mes_prev
año_mes_prev

'2022-5'

In [191]:
# cmg_real mes
link_cmg_real_mes_pasado = 'https://sipubv1.api.coordinador.cl/api/v1/cmg_files/mensuales/' + año_mes_prev + '.tsv?user_key=f3cdad2758436a0a2c2c1fec92853de7'
link_cmg_prog_mes_pasado = 'https://sipubv1.api.coordinador.cl/api/v1/cmg_files/barra/mensuales/' + año_mes_prev + '.tsv?user_key=f3cdad2758436a0a2c2c1fec92853de7'

# cmg_real mes
link_cmg_real = 'https://sipubv1.api.coordinador.cl/api/v1/cmg_files/mensuales/' + año_mes + '.tsv?user_key=f3cdad2758436a0a2c2c1fec92853de7'
link_cmg_prog = 'https://sipubv1.api.coordinador.cl/api/v1/cmg_files/barra/mensuales/' + año_mes + '.tsv?user_key=f3cdad2758436a0a2c2c1fec92853de7'

In [192]:
from selenium import webdriver

In [193]:
options = webdriver.ChromeOptions()

In [194]:
preferences = {"download.default_directory": main_path}

In [195]:
options.add_experimental_option("prefs", preferences)

In [196]:
driver= webdriver.Chrome(options=options)

In [197]:
# cmg_real 
driver.get(link_cmg_real)
time.sleep(20)

In [198]:
# cmg_real_mes_previo
driver.get(link_cmg_real_mes_pasado)
time.sleep(20)

In [199]:
# cmg_prog
driver.get(link_cmg_prog)
time.sleep(20)

In [200]:
# cmg_prog_mes_previo
driver.get(link_cmg_prog_mes_pasado)
time.sleep(20)

In [201]:
driver.close();

In [202]:
# rename cmg_real

In [203]:
# rename cmg_real
old_name_cmg_real = '2022-6.tsv'
new_name_cmg_real = 'cmg_real.tsv'
old_name_cmg_real_mes_previo = '2022-5.tsv'
new_name_cmg_real_mes_previo = 'cmg_real_mes_previo.tsv'

# rename cmg_prog
old_name_cmg_prog = '2022-6 (1).tsv'
new_name_cmg_prog = 'cmg_prog.tsv'
old_name_cmg_prog_mes_previo = '2022-5 (1).tsv'
new_name_cmg_prog_mes_previo = 'cmg_prog_mes_previo.tsv'

In [204]:
os.rename(old_name_cmg_real, new_name_cmg_real)
os.rename(old_name_cmg_real_mes_previo, new_name_cmg_real_mes_previo)
os.rename(old_name_cmg_prog, new_name_cmg_prog)
os.rename(old_name_cmg_prog_mes_previo, new_name_cmg_prog_mes_previo)

In [180]:
os.path.join(main_path, new_name_cmg_real)

'C:\\Users\\Alejandro\\Documents\\Notebook Scripts\\CMg\\cmg_real.tsv'

In [181]:
new_name_cmg_real

'cmg_real.tsv'

In [223]:
#new_name_cmg_real
cmg_real = pd.read_csv(os.path.join(main_path, new_name_cmg_real), sep = '\t', decimal = ',')
#new_name_cmg_real_mes_previo
cmg_real_mes_previo  = pd.read_csv(os.path.join(main_path, new_name_cmg_real_mes_previo), sep = '\t', decimal = ',')
#new_name_cmg_prog
cmg_prog  = pd.read_csv(os.path.join(main_path, new_name_cmg_prog), sep = '\t', decimal = ',')
#new_name_cmg_prog_mes_previo
cmg_prog_mes_previo  = pd.read_csv(os.path.join(main_path, new_name_cmg_prog_mes_previo), sep = '\t', decimal = ',')

In [224]:
cmg_real

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,hora,costo_en_dolares,costo_en_pesos,nombre
0,BA02G033SE029T003,BA02T002SE032T002,2022-06-01,1,375.77,310.48372,BA S/E DEGAÑ 110KV [NO_MOSTRAR]
1,BA02G033SE029T003,BA02T002SE032T002,2022-06-01,2,375.77,310.48372,BA S/E DEGAÑ 110KV [NO_MOSTRAR]
2,BA02G033SE029T003,BA02T002SE032T002,2022-06-01,3,375.77,310.48372,BA S/E DEGAÑ 110KV [NO_MOSTRAR]
3,BA02G033SE029T003,BA02T002SE032T002,2022-06-01,4,375.77,310.48372,BA S/E DEGAÑ 110KV [NO_MOSTRAR]
4,BA02G033SE029T003,BA02T002SE032T002,2022-06-01,5,375.77,310.48372,BA S/E DEGAÑ 110KV [NO_MOSTRAR]
...,...,...,...,...,...,...,...
95251,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,20,445.57,390.16337,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
95252,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,21,439.26,384.63802,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
95253,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,22,426.81,373.73618,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
95254,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,23,378.17,331.14456,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
95255,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,24,284.41,249.04362,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]

In [225]:
# JUNTAR cmg_real CON cmg_real_mes_previo
frames_cmg = [cmg_real_mes_previo, cmg_real]
result_cmg = pd.concat(frames_cmg, axis = 0)
result_cmg.reset_index(drop=True, inplace=True)
result_cmg

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,hora,costo_en_dolares,costo_en_pesos,nombre
0,BA01G010SE006G010,BA02T002SE032T002,2022-05-01,1,83.27,71.32742,BA S/E CENTRAL QUELTEHUES 110KV BP1
1,BA01G010SE006G010,BA02T002SE032T002,2022-05-01,2,79.47,68.07241,BA S/E CENTRAL QUELTEHUES 110KV BP1
2,BA01G010SE006G010,BA02T002SE032T002,2022-05-01,3,79.20,67.84114,BA S/E CENTRAL QUELTEHUES 110KV BP1
3,BA01G010SE006G010,BA02T002SE032T002,2022-05-01,4,79.20,67.84114,BA S/E CENTRAL QUELTEHUES 110KV BP1
4,BA01G010SE006G010,BA02T002SE032T002,2022-05-01,5,73.62,63.06142,BA S/E CENTRAL QUELTEHUES 110KV BP1
...,...,...,...,...,...,...,...
924067,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,20,445.57,390.16337,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924068,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,21,439.26,384.63802,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924069,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,22,426.81,373.73618,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924070,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,23,378.17,331.14456,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924071,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,24,284.41,249.04362,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]

In [226]:
# format result_cmg
result_cmg['fecha'] = result_cmg['fecha'].astype('datetime64[ns]')
result_cmg['fecha'] = result_cmg['fecha'].astype('datetime64[ns]')
result_cmg['hora'].replace(24, 0,inplace=True)
#result_cmg['fecha_hora'] = result_cmg['fecha'].astype(str) + ' ' + result_cmg['hora'].astype(str)
#result_cmg.drop(['costo_en_pesos'], axis = 1, inplace=True)
result_cmg.tail()

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,hora,costo_en_dolares,costo_en_pesos,nombre
924067,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,20,445.57,390.16337,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924068,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,21,439.26,384.63802,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924069,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,22,426.81,373.73618,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924070,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,23,378.17,331.14456,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924071,BA01G344SE063G010,BA02T002SE032T002,2022-06-21,0,284.41,249.04362,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]

In [227]:
for i in range (len(result_cmg)):
    if result_cmg['hora'].iloc[i] == 0:
        result_cmg['fecha'].iloc[i] = result_cmg['fecha'].iloc[i] + timedelta(days=1)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_21472\4280495076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_cmg['fecha'].iloc[i] = result_cmg['fecha'].iloc[i] + timedelta(days=1)

In [228]:
result_cmg['hora'] = pd.to_timedelta(result_cmg.hora, unit='h')
result_cmg['hora'] = result_cmg['hora'].astype(str)
result_cmg['hora'] = result_cmg['hora'].str[-8:]
result_cmg['fecha'] = result_cmg['fecha'].astype(str) + ' ' + result_cmg['hora']
result_cmg['fecha'] = pd.to_datetime(result_cmg['fecha'], format='%Y%m%d %H:%M:%S')
result_cmg.tail()

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,hora,costo_en_dolares,costo_en_pesos,nombre
924067,BA01G344SE063G010,BA02T002SE032T002,2022-06-21 20:00:00,20:00:00,445.57,390.16337,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924068,BA01G344SE063G010,BA02T002SE032T002,2022-06-21 21:00:00,21:00:00,439.26,384.63802,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924069,BA01G344SE063G010,BA02T002SE032T002,2022-06-21 22:00:00,22:00:00,426.81,373.73618,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924070,BA01G344SE063G010,BA02T002SE032T002,2022-06-21 23:00:00,23:00:00,378.17,331.14456,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]
924071,BA01G344SE063G010,BA02T002SE032T002,2022-06-22 00:00:00,00:00:00,284.41,249.04362,BA S/E TAP OFF OESTE 220KV BP1 [EN_REVISION]

## Read CMg Reales BD

In [2]:
dbuser = 'aaylwin'
pwd = 'WYpbrRE2yWwYBC'
server_ip = '127.0.0.1:3310'
port = '3310'
db_instance = 'gestion_integral'

In [3]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [4]:
engine = create_engine('mysql+pymysql://'+dbuser+':'+pwd+'@'+server_ip+'/'+db_instance, echo=False)
conn = engine.connect()
conn

In [6]:
# cmg real 
#table_name = 'gi_cmg_real'
df_cmg_real = pd.read_sql('SELECT * FROM gi_cmg_real ORDER BY fecha DESC LIMIT 1000;', con=conn)
df_cmg_real = df_cmg_real.sort_values(by=['fecha'])
df_cmg_real

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,costo,nombre
999,BA05T002SE002T002,BA02T002SE032T002,2022-06-28 18:00:00,397.19,BA S/E ALTO JAHUEL 500KV BPA
968,BA46G216SE021G216,BA02T002SE032T002,2022-06-28 18:00:00,447.56,BA S/E ANTOFAGASTA 110KV BP1
967,BA46G216SE043G216,BA02T002SE032T002,2022-06-28 18:00:00,443.36,BA S/E CENTRAL TOCOPILLA 110KV BP1-2
966,BA46L141SE071L141,BA02T002SE032T002,2022-06-28 18:00:00,450.40,BA S/E EL TESORO 220KV BP
965,BA47L135SE089L135,BA02T002SE032T002,2022-06-28 18:00:00,452.37,BA S/E KM6 100KV BP1
...,...,...,...,...,...
122,BA01T030SE003T030,BA02T002SE032T002,2022-06-28 23:00:00,332.15,BA S/E CUMBRE 500KV BP1
121,BA01T031SE003T031,BA02T002SE032T002,2022-06-28 23:00:00,70.39,BA S/E SECCIONADORA RIO TOLTEN 220KV BP1
120,BA01T031SE105T031,BA02T002SE032T002,2022-06-28 23:00:00,353.75,BA S/E MARIA ELENA 220KV BP1
129,BA01T003SE032T003,BA02T002SE032T002,2022-06-28 23:00:00,67.48,BA S/E CHILOE 110KV BP1
0,BA99L117SE054L117,BA02T002SE032T002,2022-06-28 23:00:00,366.66,BA S/E COLLAHUASI 220KV BP1

In [7]:
# agarrar ultima fecha
df_cmg_real['fecha'].tail(1)

0   2022-06-28 23:00:00
Name: fecha, dtype: datetime64[ns]

In [238]:
df_cmg_real.dtypes

barra_mnemotecnico                       object
barra_referencia_mnemotecnico            object
fecha                            datetime64[ns]
costo                                   float64
nombre                                   object
dtype: object

In [8]:
# ultima fecha bd
end_bd = str(df_cmg_real['fecha'].tail(1).iloc[0])
end_bd = pd.to_datetime(end_bd, format='%Y%m%d %H:%M:%S')
end_bd

Timestamp('2022-06-28 23:00:00')

In [10]:
# primer bloque despues de ultimo registro 
start_append = end_bd - timedelta(days=1)
start_append

Timestamp('2022-06-27 23:00:00')

In [44]:
start_append_string = start_append.strftime("%Y-%m-%d %H:%M:%S")
start_append_string

'2022-06-27 23:00:00'

In [45]:
# crear df a repetir (ultimo dia)
query = "SELECT * FROM gi_cmg_real WHERE fecha  > " + "'" + start_append_string + "'"

df_cmg_loop = pd.read_sql(query, con=conn)

df_cmg_loop

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,costo,nombre
0,BA01G004SE017G004,BA02T002SE032T002,2022-06-28 00:00:00,358.00,BA S/E SANTA MARIA 220KV BP1
1,BA01G004SE036G004,BA02T002SE032T002,2022-06-28 00:00:00,345.94,BA S/E GIS ANGOSTURA 220KV
2,BA01G010SE008G010,BA02T002SE032T002,2022-06-28 00:00:00,360.67,BA S/E VENTANAS 110KV BP1-1
3,BA01G018SE002G018,BA02T002SE032T002,2022-06-28 00:00:00,362.19,BA S/E MAPAL 154KV BP [NO_MOSTRAR]
4,BA01G021SE003G021,BA02T002SE032T002,2022-06-28 00:00:00,360.63,BA S/E CENTRAL BOCAMINA I 154KV BP1
...,...,...,...,...,...
4531,BA91L135SE052L135,BA02T002SE032T002,2022-06-28 23:00:00,358.52,BA S/E CHUQUICAMATA 220KV BP1
4532,BA93G235SE106G216,BA02T002SE032T002,2022-06-28 23:00:00,346.78,BA S/E MEJILLONES 110KV BP
4533,BA94G216SE031G216,BA02T002SE032T002,2022-06-28 23:00:00,367.58,BA S/E CENTRAL DIESEL ARICA 66KV BP1
4534,BA97G216SE106G216,BA02T002SE032T002,2022-06-28 23:00:00,346.78,BA S/E MEJILLONES 220KV BP
4535,BA99L117SE054L117,BA02T002SE032T002,2022-06-28 23:00:00,366.66,BA S/E COLLAHUASI 220KV BP1

In [48]:
end_bd

Timestamp('2022-06-28 23:00:00')

In [50]:
end_bd.strftime("%Y-%m-%d")

'2022-06-28'

In [52]:
#calcular dias entre end_bd y dia ayer
cmg_real_last = end_bd.strftime("%Y-%m-%d")
ayer = str(date.today()-timedelta(days=1))
cmg_real_last, ayer
# convert string to date object
d1 = datetime.strptime(cmg_real_last, "%Y-%m-%d")
d2 = datetime.strptime(ayer, "%Y-%m-%d")
# difference between dates in timedelta = numero de loops
delta = d2 - d1
loops = delta.days
loops

1

In [53]:
len(df_cmg_loop)

4536

In [55]:
df_loop = df_cmg_loop

In [56]:
if loops > 0:
    df = pd.DataFrame()
    for x in range (loops):
        for i in range (len(df_cmg_loop)):
            df_loop['fecha'].iloc[i] = df_loop['fecha'].iloc[i] + timedelta(days=loops)
            frames_df = [df,df_loop]
            result_df = pd.concat(frames_df)
        df = result_df
else:
    df = df_loop.head(0)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_23456\3525485353.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loop['fecha'].iloc[i] = df_loop['fecha'].iloc[i] + timedelta(days=loops)

In [57]:
df

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,costo,nombre
0,BA01G004SE017G004,BA02T002SE032T002,2022-06-29 00:00:00,358.00,BA S/E SANTA MARIA 220KV BP1
1,BA01G004SE036G004,BA02T002SE032T002,2022-06-29 00:00:00,345.94,BA S/E GIS ANGOSTURA 220KV
2,BA01G010SE008G010,BA02T002SE032T002,2022-06-29 00:00:00,360.67,BA S/E VENTANAS 110KV BP1-1
3,BA01G018SE002G018,BA02T002SE032T002,2022-06-29 00:00:00,362.19,BA S/E MAPAL 154KV BP [NO_MOSTRAR]
4,BA01G021SE003G021,BA02T002SE032T002,2022-06-29 00:00:00,360.63,BA S/E CENTRAL BOCAMINA I 154KV BP1
...,...,...,...,...,...
4531,BA91L135SE052L135,BA02T002SE032T002,2022-06-29 23:00:00,358.52,BA S/E CHUQUICAMATA 220KV BP1
4532,BA93G235SE106G216,BA02T002SE032T002,2022-06-29 23:00:00,346.78,BA S/E MEJILLONES 110KV BP
4533,BA94G216SE031G216,BA02T002SE032T002,2022-06-29 23:00:00,367.58,BA S/E CENTRAL DIESEL ARICA 66KV BP1
4534,BA97G216SE106G216,BA02T002SE032T002,2022-06-29 23:00:00,346.78,BA S/E MEJILLONES 220KV BP
4535,BA99L117SE054L117,BA02T002SE032T002,2022-06-29 23:00:00,366.66,BA S/E COLLAHUASI 220KV BP1

In [58]:
df.dtypes

barra_mnemotecnico                       object
barra_referencia_mnemotecnico            object
fecha                            datetime64[ns]
costo                                   float64
nombre                                   object
dtype: object

df = pd.DataFrame()
for x in range (loops):
    for i in range (len(result_cmg_append)):
        df_loop['fecha'].iloc[i] = df_loop['fecha'].iloc[i] + timedelta(days=loops)
        frames_df = [df,df_loop]
        result_df = pd.concat(frames_df)
    df = result_df

In [59]:
conn.close()

## Insert CMg provisionales

In [60]:
dbuser = 'aaylwin'
pwd = 'WYpbrRE2yWwYBC'
server_ip = '127.0.0.1:3310'
port = '3310'
db_instance = 'gestion_integral_staging'

In [61]:
import mysql.connector 
import sqlalchemy
from mysql.connector import Error
from sqlalchemy import create_engine

In [62]:
engine = create_engine('mysql+pymysql://'+dbuser+':'+pwd+'@'+server_ip+'/'+db_instance, echo=False)
conn = engine.connect()

In [63]:
conn

In [66]:
table_name = 'cmg_provisional'
cmg_prov = pd.read_sql('SELECT * FROM cmg_provisional', con=conn)
cmg_prov

Empty DataFrame
Columns: [barra_mnemotecnico, barra_referencia_mnemotecnico, fecha, costo, nombre]
Index: []

In [67]:
df

,barra_mnemotecnico,barra_referencia_mnemotecnico,fecha,costo,nombre
0,BA01G004SE017G004,BA02T002SE032T002,2022-06-29 00:00:00,358.00,BA S/E SANTA MARIA 220KV BP1
1,BA01G004SE036G004,BA02T002SE032T002,2022-06-29 00:00:00,345.94,BA S/E GIS ANGOSTURA 220KV
2,BA01G010SE008G010,BA02T002SE032T002,2022-06-29 00:00:00,360.67,BA S/E VENTANAS 110KV BP1-1
3,BA01G018SE002G018,BA02T002SE032T002,2022-06-29 00:00:00,362.19,BA S/E MAPAL 154KV BP [NO_MOSTRAR]
4,BA01G021SE003G021,BA02T002SE032T002,2022-06-29 00:00:00,360.63,BA S/E CENTRAL BOCAMINA I 154KV BP1
...,...,...,...,...,...
4531,BA91L135SE052L135,BA02T002SE032T002,2022-06-29 23:00:00,358.52,BA S/E CHUQUICAMATA 220KV BP1
4532,BA93G235SE106G216,BA02T002SE032T002,2022-06-29 23:00:00,346.78,BA S/E MEJILLONES 110KV BP
4533,BA94G216SE031G216,BA02T002SE032T002,2022-06-29 23:00:00,367.58,BA S/E CENTRAL DIESEL ARICA 66KV BP1
4534,BA97G216SE106G216,BA02T002SE032T002,2022-06-29 23:00:00,346.78,BA S/E MEJILLONES 220KV BP
4535,BA99L117SE054L117,BA02T002SE032T002,2022-06-29 23:00:00,366.66,BA S/E COLLAHUASI 220KV BP1

In [68]:
# insert a bd
df.to_sql(con=conn, name = 'cmg_provisional', if_exists = 'replace', index=False)

4536

In [69]:
conn.close()